.navbar-custom {
    background-color: #007bff; /* Fondo azul */
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: white; /* Letras blancas */
  }
  
  .navbar-custom .nav-link.active {
    color: #e1e1e1; /* Color de enlace activo (amarillo) */
  }

  .contact-card {
    width: 50%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .contact-card {
      width: 90%;
    }
  }
  